<a href="https://colab.research.google.com/github/MadhanTeruvai/Python-Projects/blob/main/Custom_Multiplication_Tables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Multiplication table for table below 1000

In [10]:
# Multiplication table
number=int(input("enter the value for Multiplication table: "))
for i in range(1,11):
    j=i*number
    print(f"{number}x{i}={j}")

enter the value for Multiplication table: 366
366x1=366
366x2=732
366x3=1098
366x4=1464
366x5=1830
366x6=2196
366x7=2562
366x8=2928
366x9=3294
366x10=3660

Multiplication Table for table above 1000

In [13]:
# Multiplication table
number=int(input("enter the value for Multiplication table: "))
for i in range(1,11):
    j=i*number
    print(f"{number}x{i}={j}")

enter the value for Multiplication table: 1653
1653x1=16590
1653x2=1653
1653x3=3306
1653x4=4959
1653x5=6612
1653x6=8265
1653x7=9918
1653x8=11571
1653x9=13224
1653x10=14877

Multiplication Table for float values

In [14]:
# Multiplication table to float value
number=float(input("enter the float value for Multiplication table: "))
for i in range(1,11):
    j = i*number
    print(f"{number}x{i}={j}")

enter the float value for Multiplication table: 32.9
32.9x1=32.9
32.9x2=65.8
32.9x3=98.69999999999999
32.9x4=131.6
32.9x5=164.5
32.9x6=197.39999999999998
32.9x7=230.29999999999998
32.9x8=263.2
32.9x9=296.09999999999997
32.9x10=329.0